// DEBUGGING
// grid
// body {
//   background-size: $grid $grid;
//   background-image:
//     linear-gradient(to right, $color-grid 1px, transparent 1px),
//     linear-gradient(to bottom, $color-grid 1px, transparent 1px);
// }
// dots
// body {
//   background-size: $grid $grid;
//   background-image: radial-gradient(
//     circle, $color-grid 1px, rgba(0, 0, 0, 0) 1px
//   );
// }

// GENERAL

* { margin: 0; padding: 0; }

html {
  font-size: $root-em;
  padding: $margin;
  line-height: $grid;
}

body {
  font-family: $font-family-mono;
  text-underline-offset: 0.2em;
  max-width: $body-max-width;
  margin: auto;
  counter-reset: sidenote-counter;
  background-color: $color-ice;
  color: $color-stormborn;
}

body.dark-mode {
  background-color: $color-chocolate;
  color: $color-parchment;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $color-chocolate;
    color: $color-parchment;
  }
  body.light-mode {
    background-color: $color-ice;
    color: $color-stormborn;
  }
}

.essai>.main-text>p,
.essai>.main-text>div.essai-bibliography,
.essai>.main-text>*>li {
  max-width: $left-width;
}

.full-width {
  max-width: $body-max-width;
  width: $body-max-width;
}

@media screen and (max-width: $single-column-threshold),
       screen and (pointer: coarse) and (hover: none) {
  html {
    font-size: 3vw;
    padding: $single-column-margin;
  }
  .essai>.main-text>p,
  .essai>.main-text>div.essai-bibliography,
  .essai>.main-text>*>li {
    max-width: 100%;
  }
}

// NAVIGATION

nav {
  height: $grid;
  padding-top: 3px;
  padding-bottom: 13px;
  margin-bottom: ($grid * 2);
}

nav a { text-decoration: none; }

#home, #department {
  text-align: left;
  font-weight: bold;
  letter-spacing: 1ch;
  text-transform: uppercase;
}

#department, #pages { display: inline-block; }

#pages {
  float: right;
  text-transform: lowercase;
}

#pages > a { margin-left: $grid; }

#dark-toggle.disable { color: $color-steel; }
.dark-mode #dark-toggle.disable { color: $color-olive; }

@media (prefers-color-scheme: dark) {
  .light-mode #dark-toggle.disable { color: $color-steel; }
  #dark-toggle.disable { color: $color-olive; }
}

// HEADINGS

h1 {
  font-family: "Cormorant Unicase";
  text-transform: lowercase;
  font-weight: normal;
  font-size: 5rem;
  line-height: #{($grid * 3)};
  margin-top: #{($grid * 6)};
  padding-top: 7px; 
  margin-bottom: -7px;
}

h2, h3 {
  font-style: italic;
  font-weight: normal;
  line-height: #{($grid * 2)};
  margin-top: #{($grid * 3)};
}
h2 {
  font-size: 2rem;
  padding-top: 8px;
  margin-bottom: -8px;
}
h3 { font-size: 1.75rem; }

h4, h5, h6 {
  font-family: "Cormorant SC";
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  line-height: $grid;
  margin-top: #{($grid * 2)};
}
h4 { font-size: 1.5rem; }
h5 {
  font-size: 1.25rem;
  padding-top: 3px;
  margin-bottom: -3px;
}
h6 { font-size: 1rem; }

// INDEX

.post {
  padding-top: 3px; 
  margin-bottom: (2 * $grid - 3px);
}

// TEXT

a { color: $color-stormborn; }
.dark-mode a { color: $color-parchment; }

// .zettel, .essai {
//   a::after {
//     content: " ↪︎";
//     font-size: 0.5em;
//   }
//   a[href^="/essayer/"]::after { content: " ↩︎"; }
//   .bibliography a::after, a[href^="#"]::after { display: none; }
// }


code {
  font-family: $font-family-mono;
  font-size: 0.8em;
  line-height: 0.95;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.75em;
  line-height: $grid;
}

sup { top: -0.5em; }

sub { top: 0.5em; }

ol, ul { padding-inline-start: 0; }

.essai {
  font-family: $font-family-serif;
  font-size: $font-size-essai;
  line-height: #{($grid * 2)};
}

.essai p {
  margin-block-start: $grid;
  margin-block-end: $grid;
}

.essai {

  .main-text>p:first-child,
  .main-text>div>p:first-child {
    text-indent: initial;
    margin-top: #{($grid * 3)};
  }

  .main-text>h2+p,
  .main-text>p.section-break+p {
    text-indent: initial;
  }

  .main-text>p { text-indent: $grid; }

  .main-text p {
    padding-top: $root-em;
    margin-bottom: -$root-em;
  }

}

.small-caps {
  font-family: "Cormorant SC";
  text-transform: lowercase;
}
.section-break {
  text-align: center;
  font-style: italic;
  margin: $grid 0;
}

@media screen and (max-width: $single-column-threshold),
       screen and (pointer: coarse) and (hover: none) {
  ol, ul { padding-inline-start: (2 * $grid); }
}

// QUOTES

.essai blockquote {
  font-size: 0.9em;
  line-height: (2 * $grid);
  padding: $grid;
}
.essai>.main-text>blockquote {
  max-width: calc(#{$left-width} - 2 * #{$grid});
}

blockquote p.tldr::before { content: "(TL;DR: "; }
blockquote p.tldr::after { content: ") [+]"; }

blockquote p.attribution {
  display: block;
  text-align: right;
}
blockquote p.attribution::before { content: "— "; }

.zettel blockquote p.tldr ~ p:not(.tldr):not(.attribution) {
  display: none;
}
.zettel blockquote:hover p.tldr ~ p:not(.tldr):not(.attribution) {
  display: block;
}
.zettel blockquote:hover p.tldr { display: none; }

// FIGURES

figure {
  margin-top: #{($grid * 2)};
  margin-bottom: #{($grid * 2)};
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  font-size: 0.5em;
  font-family: "Space Mono";
  text-align: right;
  float: right;
  line-height: $grid;
}

.viz-altair {
  width: 100%;
  height: (30 * $grid);
  margin-top: (2 * $grid);
}

.caption {
  font-size: $font-size-note;
}

// IMAGES

img {
  width: 100%;
  height: (5 * $grid);
  object-fit: cover;
  object-position: 0 0;
  opacity: 50%;
  -webkit-mask-image:
    -webkit-gradient(
      linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

img:hover {
  height: unset;
  opacity: 100%;
  -webkit-mask-image: none;
  mask-image: none;
}

// TABLES

table {
  border-collapse: collapse;
  display: block;
  margin: $grid 0;
}

th, td {
  vertical-align: top;
  padding: ($grid / 2) ($grid / 2);
}

th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }

// TUFTE

.sidenote, .marginnote, .hidden-sidenote {
  position: relative;
  float: right;
  clear: right;
  width: 40%;
  padding-top: 9px;
  margin-right: -50%;
  margin-bottom: ($grid - 9px);
  font-size: $font-size-note;
  line-height: $grid;
  vertical-align: baseline;
  text-indent: 0;
  * { max-width: 100%; }
}
blockquote .marginnote,
blockquote .sidenote {
  --full: calc((100% - 2 * #{$grid}) / 0.66);
  width: calc(0.4 * var(--full));
  margin-right: calc(-0.5 * var(--full));
}

.sidenote-number { counter-increment: sidenote-counter; }
.sidenote-number:after { content: counter(sidenote-counter); }
.sidenote:before { content: counter(sidenote-counter) ".\000a0"; }
.marginnote-symbol {
  display: none;
  text-decoration: underline;
  font-size: 1rem;
}

.hidden-sidenote-label { border-bottom: 1px dotted $color-stormborn; }
.hidden-sidenote-label .dark-mode {
  border-bottom: 1px dotted $color-parchment;
}

@media (prefers-color-scheme: dark) {
  .hidden-sidenote-label { border-bottom: 1px dotted $color-parchment; }  
  .light-mode .hidden-sidenote-label {
    border-bottom: 1px dotted $color-stormborn;
  }
}

.hidden-sidenote-label .hidden-sidenote { visibility: hidden; }
.hidden-sidenote-label:hover .hidden-sidenote { visibility: visible; }

input.sidenote-toggle,
input.marginnote-toggle,
input.hidden-sidenote-toggle {
  display: none;
}

@media screen and (max-width: $single-column-threshold),
       screen and (pointer: coarse) and (hover: none) {
  .sidenote, .marginnote { display: none; }
  .sidenote-number { text-decoration: underline; }
  .marginnote-symbol { display: inline }
  
  .hidden-sidenote {
    display: none;
    visibility: visible;
  }

  .sidenote-number,
  .marginnote-symbol,
  .hidden-sidenote-label {
    cursor: pointer;
  }

  .sidenote-toggle:checked + .sidenote,
  .marginnote-toggle:checked + .marginnote,
  .hidden-sidenote-toggle:checked + .sidenote {
    display: block;
    top: 0;
    float: left;
    clear: both;
    margin: ($grid / 2) 0;
    padding-top: 0px;
  }
  .sidenote-toggle:checked + .sidenote,
  .marginnote-toggle:checked + .marginnote {
    width: calc(100% - 2 * #{$grid});
    padding-left: $grid;
    padding-right: $grid; 
  }
  .hidden-sidenote-toggle:checked + .sidenote { width: 100%; }
}

// SCHOLAR

.citation { white-space: nowrap; }

div.bibliography {
  padding-top: 3px;
  margin-bottom: -3px;
}

div.bibliography>div {
  line-height: $grid;
  text-indent: -$grid;
  padding-left: $grid;
  margin-block-start: ($grid / 2);
  margin-block-end: ($grid / 2);
}

.anchor-wiki { white-space: pre; }

.wiki {
  font-family: "Linux Libertine";
  letter-spacing: -0.8ch;
  line-height: $grid;
}

.sup-mat {
  font-family: "Byom Icons";
  font-size: 0.8em;
}

.cw > .cw-text {
  display: none;
  font-size: $font-size-note;
  text-decoration: none;
  color: $color-steel;
  line-height: $grid;
}
.dark-mode .cw > .cw-text { color: $color-olive; }
.cw:hover > .cw-text { display: inline; }

@media (prefers-color-scheme: dark) {
  .cw > .cw-text { color: $color-olive; }
  .light-mode .cw > .cw-text { color: $color-steel; }
}

.essai-bibliography { font-size: $font-size-note; }

.stacks-bibliography div.bibliography {
  max-width: 100%;
}
.stacks-bibliography div.bibliography>div {
  line-height: (3/2 * $grid);
  margin-block-start: ($grid / 2);
  margin-block-end: ($grid / 2);
}

.stacks #tags .tag {
  font-family: $font-family-mono;
  font-size: 1rem;
}

.stacks #tags .tag::before { content: "#"; }
.stacks #tags .tag::before, .hash { color: $color-steel; }
.dark-mode { .stacks #tags .tag::before, .hash { color: $color-olive; } }
@media (prefers-color-scheme: dark) {
  .stacks #tags .tag::before, .hash { color: $color-olive; }
  .light-mode { .stacks #tags .tag::before, .hash { color: $color-steel; } }
}

// COLLECTIONS

#title { 
  font-family: "Cormorant Unicase";
  text-transform: lowercase;
  font-weight: normal;
  font-size: 3rem;
  line-height: (2 * $grid);
  padding-top: 6px;
  margin-top: (5 * $grid);
  margin-bottom: -6px;
  text-align: center;
}

#author {
  @extend .small-caps;
  text-align: center;
  padding-top: 5px;
  margin-top: (2 * $grid);
  padding-bottom: (2 * $grid - 2px);
  font-size: 1.25rem;
  line-height: 1.25rem;
}

#author>span { 
  border-top: 1px solid $color-stormborn;
}

.dark-mode #author>span {
  padding-top: 2px;
  border-top: 1px solid $color-parchment;
}

@media (prefers-color-scheme: dark) {
  #author>span { border-top: 1px solid $color-parchment; }
  .light-mode #author>span { border-top: 1px solid $color-stormborn; }
}

#reference {
  text-align: center;
  font-size: 1rem;
  margin-top: (5 * $grid);
  padding-top: 5px;
  margin-bottom: -5px;
  line-height: $grid;
}

#uncite>div, #see-alsos>div {
  padding-top: $root-em;
  margin-bottom: -$root-em;
}

verse {
  display: block;
  white-space: pre-wrap;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.essai verse p { max-width: unset; }

.zettel, .tags {
  
  max-width: 79ch;

  p,
  h1, h2, h3, h4, h5, h6,
  div.bibliography,
  cite {
    margin-block-start: $grid;
    padding-top: 4px;
    margin-bottom: -4px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    line-height: $grid;
    margin-top: $grid;
    font-style: normal;
    font-family: $font-family-mono;
    text-transform: none;
    letter-spacing: unset;
  }

  h1, h2, h3 {
    text-transform: uppercase;
    margin-top: (2 * $grid);
  }

  h2 { text-indent: -2ch; }
  h2::before { content: "# "; }

  .bibliography { font-size: 1rem; }

  div.bibliography > div {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .wiki {
    font-family: $font-family-mono;
    letter-spacing: -0.4ch;
  }

  .anchor-wiki { white-space: normal; }

  ol, ul {
    margin-block-start: $grid;
    margin-block-end: $grid;
  }

  ol.desc-list, ul.desc-list { margin-block-start: 0px; }

  ul { list-style: none; }
  ul li:before { content: "- "; }
  ul li { text-indent: -2ch; }

  li {
    padding-top: 4px;
    margin-bottom: -4px;
  }

  li p { 
    padding-top: 0px;
    margin-bottom: -0px;
  }

  blockquote { margin: $grid 2ch; }
  
  .main-text { margin-top: #{($grid * 2)}; }  

  // tables

  table { padding-top: 4px; margin-bottom: -5px; }
  
  th {
    text-align: left;
    font-weight: normal;
    line-height: ($grid - 2px);
  }

  th {
    border-top: 1px solid $color-stormborn;
    border-bottom: 1px solid $color-stormborn;
  }
  tr:last-child>td { border-bottom: 1px solid $color-stormborn; }
  .dark-mode th {
    border-top: $color-parchment;
    border-bottom: $color-parchment;
  }
  .dark-mode tr:last-child>td { border-bottom: $color-parchment; }

  @media (prefers-color-scheme: dark) {
    th {
      border-top: 1px solid $color-parchment;
      border-bottom: 1px solid $color-parchment;
    }
    tr:last-child>td { border-bottom: 1px solid $color-parchment; }
  }

  blockquote cite.attribution { font-style: normal; }

  // footnotes

  sup[role="doc-noteref"] {
    font-size: 1em;
    top: 0;
  }
  sup[role="doc-noteref"]::before { content: "[" }
  sup[role="doc-noteref"]::after { content: "]" }

  div.footnotes[role="doc-endnotes"] {
    ol li { counter-increment: footnotes; }
    ol li:before {
      content: "[" counter(footnotes) "]";
      left: -5ch;
      position: relative;
      float: left;
      top: $grid;
    }
    ol {
      list-style: none;
      counter-reset: footnotes;
    }
  }

  img { width: 100% }

}

@media (prefers-color-scheme: dark) {
  .light-mode .zettel {
    th {
      border-top: 1px solid $color-stormborn;
      border-bottom: 1px solid $color-stormborn;
    }
    tr:last-child>td { border-bottom: 1px solid $color-stormborn; }
  }  
}

.zettel-id {
  padding-top: 4px;
  margin-bottom: -4px;
  color: $color-steel;
}
.dark-mode .zettel-id { color: $color-olive; }

@media (prefers-color-scheme: dark) {
  .light-mode .zettel-id { color: $color-steel; }
  .zettel-id { color: $color-olive; }
}

.tags {
  h1 { text-transform: none; }
  p { margin-block-start: 0; }
}