---
---

{% assign department = site.data.navigation.departments
  | find: "name", page.department %}
{% assign dept_href = department.this_dept %}
{% assign dept_name = department.name %}
{% if page.landing %}
  {% assign dept_href = department.next_dept %}
  {% assign dept_name = department.name | prepend: "[" | append: "]" %}
{% endif %}


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
  <title>{{ page.title }}</title>
</head>
  <body>
  <nav>
    <div id="department">
      <a href="{% link {{ dept_href }} %}">{{ dept_name }}</a>
    </div>
    <div id="pages">
    {% for item in site.data.navigation.pages %}
      {% assign item_name = item.name %}
      {% if page.title == item.name %}
        {% assign item_name = item.name | prepend: "[ " | append: " ]" %}
      {% endif %}
      <a href="{% link {{ item.path }} %}">{{ item_name }}</a>
    {% endfor %}
    <a id="dark-toggle" onclick="toggleDarkMode()" href="#">☯︎</a>
    </div>
  </nav>
  {{ content }}
  <script type="text/javascript" src="{% link assets/js/darkMode.js %}">
  </script>
  </body>
</html>