---
layout: base
---

<div class="essai">

<div id="title">{{ page.title }}</div>
<div id="author"><span>{{ page.entry.author }}</span></div>

<div class="main-text">

{% capture details %}
{% for d in site.details %}
  {% assign key = d.id | split: "/" | last %}
  {% if key == page.entry.key %}{{ d.content }}{% break %}{% endif %}
{% endfor %}
{% endcapture %}
{{ details | markdownify }}

{% assign uncite = site.data.uncites[page.entry.key] %}
{% if uncite %}
  <div id="uncite">
    <h2>Referenced in</h2>
    <div>
    {% for post in uncite %}
      <a href="{% link {{ post.path }} %}">{{ post.title }}</a>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% assign see_alsos = site.data.see_alsos[page.entry.key] %}
{% if see_alsos %}
  <div id="see-alsos">
    <h2>See also</h2>
    <div>
      {% for see_also in see_alsos %}
        {% assign url = see_also.id | prepend: '/stacks/' | prepend: site.baseurl | append: '.html' %}
        <a href="{{ url }}">{{ see_also.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% assign zettel = site.data.zettel[page.entry.key] %}
{% if zettel %}
  <div id="zettel">
    <h2>Zettel</h2>
    <div>
    {% for z in zettel %}
      <a href="{% link {{ z.path }} %}">{{ z.title }}</a>
    {% endfor %}
    </div>
  </div>
{% endif %}

<div id="reference">{% reference page.entry.key %}</div>

</div>
</div>