---
layout: base
---

{% assign key = page.id | split: "/" | last %}

{% include nav.html department="stacks" %}
<div class="essai">

<div id="title">{{ site.data.bib[key].title }}</div>
<div id="author"><span>{{ site.data.bib[key].author }}</span></div>

<div class="main-text">

{{ content }}

{% capture citations %}{% bibliography --cited %}{% endcapture %}
{% if citations.size > 39 %}
<h2>Bibliography</h2>
<div class="essai-bibliography">
{{ citations }}
</div>
{% endif %}

{% assign uncite = site.data.uncites[key] %}
{% if uncite %}
  <div id="uncite">
    <h2>Referenced in</h2>
    <div>
    {% for post in uncite %}
      <a href="{% link {{ post.path }} %}">{{ post.title }}</a>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% assign see_alsos = site.data.see_alsos[key] %}
{% if see_alsos %}
  <div id="see-alsos">
    <h2>See also</h2>
    <div>
      {% for see_also in see_alsos %}
        {% assign url = see_also.id | prepend: '/stacks/' | prepend: site.baseurl | append: '.html' %}
        <a href="{{ url }}">{{ see_also.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% assign zettel = site.data.zettel[key] %}
{% if zettel %}
  <div id="zettel">
    <h2>Zettel</h2>
    <div>
    {% for z in zettel %}
      <a href="{% link {{ z.path }} %}">{{ z.title }}</a>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% capture contents %}
  {% bibliography --query @*[in={{ key }}] %}
{% endcapture %}
{% if contents.size > 4 %}
  <div id="contents">
    <h2>Contains</h2>
    <div>{{ contents }}</div>
  </div>
{% endif %}

<div id="reference">{% reference key %}</div>


</div>

</div>