---
layout: base
department: stacks
---


{% assign key = page.id | split: "/" | last %}
{% assign entry = site.data.bib[key] %}

<title>{{ entry.title }}</title>

<div class="essai stacks">

<div id="title">{{ entry.title }}</div>
<div id="author"><span>{{ entry.author }}</span></div>

<div class="main-text">

{{ content }}

{% capture citations %}{% bibliography --cited %}{% endcapture %}
{% if citations.size > 39 %}
<h2>Bibliography</h2>
<div class="essai-bibliography">
{{ citations }}
</div>
{% endif %}

{% assign uncite = site.data.uncites[key] %}
{% if uncite %}
  <div id="uncite">
    <h2>Referenced in</h2>
    <div>
    {% for post in uncite %}
      <a href="{% link {{ post.path }} %}">{{ post.title }}</a>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% assign see_alsos = site.data.see_alsos[key] %}
{% if see_alsos %}
  <div id="see-alsos">
    <h2>See also</h2>
    <div>
      {% for see_also in see_alsos %}
        {% assign url = see_also.id | prepend: '/stacks/' | prepend: site.baseurl | append: '.html' %}
        <a href="{{ url }}">{{ see_also.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% assign zettel = site.data.zettel[key] %}
{% if zettel %}
  <div id="zettel">
    <h2>Zettel</h2>
    <div>
    {% for z in zettel %}
      <a href="{% link {{ z.path }} %}">{{ z.title }}</a>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if entry.in %}
  <div id="in_entry">
    <h2>Part of</h2>
    <div>{{ site.data.bib[entry.in] }}</div>
  </div>
{% endif %}

{% capture has_child_entry %}
  {% bibliography --query @*[in={{ key }}] %}
{% endcapture %}
{% if has_child_entry.size > 4 %}
  <div id="has_child_entry">
    <h2>Contains</h2>
    <div>{{ has_child_entry }}</div>
  </div>
{% endif %}

{% if site.compile_tags %}
<div>
  <h2>Tags</h2>
  <div id="tags">
    {% for tag in entry.tags %}
      <a class="tag" href="{% link _all_tags/{{ tag }}.md %}">{{ tag }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}


<div id="reference">{% reference key %}</div>

</div>

</div>